html{
    background-color:#EEE;
    padding: 1em;
    width: 90%;
    margin: auto;
}
body {
    background-color:#FFF;
    font-family:"Trebuchet MS", Helvetica, Arial;
    font-size: 1em;
    margin: 0 auto;
    padding: 1em;
}
td {
    vertical-align: bottom;
}
h1{
    font-size:1.75em;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    }
h2 {
    clear:both;
    font-size: 1.4em;
    font-weight:bold;
    margin-top:2em; 
    font-variant: small-caps;
    padding-left:.25em;
    background-color:#EEE;
    border-bottom: 1px solid #999;
    letter-spacing: .06em;
}
dt {
    margin-left: 1.5em;
}
table, th, td {
    border: 0px solid black;
}
td {
    padding: 2px
}
ul li.publications {
    margin-bottom: 1em;
}
.paper-title {
    font-size: 1.2em;
    font-weight: bold;
}
.my-author {
    font-weight: bold;
}

.conference {
    font-style: italic; 
}

table.publications td {
    vertical-align: top;
    padding: 0px 0px 20px 0px;
    width: auto;
    /*border: 1px solid black;*/
}
table.publications td:last-child {
    /*border: 1px solid red;*/
    width: 75%;
}
table.publications td:first-child {
    /*border: 1px solid black;*/
    text-align: center;
    width: auto;
}
table.publications img {
    /*border: 1px solid green;*/
    height: auto;
    width: auto;
    max-height: 150px; 
    max-width: 80%;
    padding-right: 20px;
    padding-left: 20px
}